<h1>Reservas</h1>

@if(showCancelled) {
<button matButton="outlined" (click)="alterView()">Activas</button>
} @else {
<button matButton="outlined" (click)="alterView()">Canceladas</button>
}

<ul>
  @for (reservation of reservations; track reservation.id) {
  <li>
    <div class="reservation-card">
      <p>Identificador de reserva: {{reservation.reservationIdentifier}}</p>
      <p><strong>Usuario:</strong> {{reservation.userEmail}}</p>
      <p><strong>Habitación reservada:</strong> {{reservation.roomName}}</p>
      <p><strong>Fecha de entrada:</strong> {{reservation.startDate | date: 'dd/MM/yyyy'}}</p>
      <p><strong>Fecha de salida:</strong> {{reservation.endDate | date: 'dd/MM/yyyy'}}</p>
      <p><strong>Fecha de reserva:</strong> {{reservation.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      @if(reservation.status == 'CANCELLED'){
        <p><strong>Reserva cancelada</strong></p>
      }

    @if(reservation.status == 'ACTIVE') {
      @if(userAdmin) {
      <button class="action-button" type="button" [routerLink]="[reservation.reservationIdentifier]"> Modificar
        reserva
      </button>
      } @else {
      <button class="action-button" type="button" [routerLink]="[reservation.reservationIdentifier]"> Solicitar 
        modificación
      </button>
      }
      @if(userAdmin) {
      <button class="action-button" type="button" (click)="cancelReservation(reservation.reservationIdentifier)">
        Cancelar reserva
      </button>
      } @else {
      <button class="action-button" type="button" (click)="requestCancellation(reservation.reservationIdentifier)">
        Solicitar cancelación
      </button>
      }
    } @else if (reservation.status == 'MODIFICATION_REQUESTED') {
      <p>Modificación de reserva solicitada</p>
    } @else if (reservation.status == 'CANCELLATION_REQUESTED') {
      <p>Cancelación de reserva solicitada</p>
    }
    </div>
  </li>
  }
</ul>
