.main-nav {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav-title {
  font-family: "Rubik Glitch", serif;
}

img {
    width: 2rem;
    padding-right: .25rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.spacer {
  flex: 1 1 auto;
}