  @if (hotel){
    <div>
        <h1>{{hotel.name}} - {{hotel.stars}}* </h1>
        
        <p>{{hotel.description}}</p>

        <p> {{hotel.city}}, {{hotel.country}} - {{hotel.address}}</p>
    </div>

    <div class="rooms-list">
      <h2> Habitaciones</h2>
      <ul>
        @for (room of hotel.rooms; track room.name) {
        <li>
          <h3>{{room.name}}</h3>
          <p>{{room.description}}</p>
          <p>{{room.price}}€/noche</p>

          <button type="button" [routerLink]="['/hotels', hotel.slug, 'rooms', room.id, 'detail']"> Detalles </button>
        </li>
        }
      </ul>
    </div>

    <div class="actions">
      <button class="action-button" type="button" (click)="cancel()">Cancelar</button>
    </div>
  } @else {
    <p>Cargando datos del hotel...</p>
  }
