<h2> Hoteles </h2>

<ul>
  @for (hotel of hotels; track hotel.id) {
  <li>
    <img alt="Hotel main" class="main-image" [src]="hotel.mainImageUrl"/>
    <a [routerLink]="['/hotels/detail', hotel.slug]">{{hotel.name}}</a>
    - {{hotel.city}}, {{hotel.country}} {{hotel.stars}}* - Dirección: {{hotel.address}}
    <br> {{hotel.description}} - Puntuación de los usuarios: {{hotel.averageRating}}

    @if(adminUser){
    <button type="button" [routerLink]="['/hotels/edit', hotel.slug]"> Editar</button>
    <button type="button" (click)="deleteHotel(hotel.slug)"> Eliminar</button>
    }
  </li>
  }

  @if(adminUser) {
  <button type="button" [routerLink]="['/hotels/create']"> Crear hotel</button>
  }
</ul>

<div class="pagination">
  <button type="button" (click)="previousPage()" [disabled]="this.firstPage"> < </button>
  Página {{this.pageNumber + 1}} de {{this.numberOfPages}}
  <button type="button" (click)="nextPage()" [disabled]="this.lastPage"> > </button>
</div>
