<input type="file" multiple (change)="onFilesSelected($event)"/>
<div cdkDropListGroup>
    <h3>Imágenes del hotel</h3>

    <div class="image-list" cdkDropList id="hotel" cdkDropListOrientation="horizontal" [cdkDropListData]="hotelImages" (cdkDropListDropped)="drop($event)">
        @for (image of hotelImages; track $index) {
            <div cdkDrag>
                <img alt="Hotel preview" class="image-preview" [src]="image.previewUrl || image.url">
            </div>
            <button (click)="removeImage(hotelImages, image)">X</button>
        }
    </div>
    
    @for (room of rooms; track $index) {
        <h3>{{room.name}}</h3>

        <div class="image-list" cdkDropList id="room-{{room.id}}" cdkDropListOrientation="horizontal" [cdkDropListData]="roomImages[room.id]" (cdkDropListDropped)="drop($event)">
            @for (image of roomImages[room.id]; track $index) {
                <div cdkDrag>
                    <img alt="Room preview" class="image-preview" [src] = "image.previewUrl || image.url">
                </div>
                <button (click)="removeImage(roomImages[room.id], image)">X</button>
            }
        </div>
    }
</div>

<button (click)="updateImages()">Subir imágenes</button>