name: Complete workflow

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  backend:
    name: backend complete check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven
      - name: Cache sonar packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Run tests
        working-directory: backend
        run: mvn test
      - name: Run integration & system tests
        working-directory: backend
        run: mvn verify
      - name: Sonar analysis
        working-directory: backend
        env:
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        run: mvn -B verify sonar:sonar -Dsonar.organization=plushotel -Dsonar.host.url=https://sonarcloud.io -Dsonar.projectKey=plushotel_codeurjc

  frontend:
    name: frontend complete check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - name: Install dependencies
        working-directory: ./frontend
        run: npm ci
      - name: Run tests
        working-directory: ./frontend
        run: npm test -- --watch=false --browsers=ChromeHeadless --code-coverage
